In [7]:
import pandas as pd

In [10]:
df = pd.read_csv('/Users/maximkiesel/batch_processing_IaC_AWS/measurement_data.csv')

In [11]:
df.head()

                   start_time                    end_time  value  measurements
0  2023-06-20 22:08:35.508546  2023-06-20 22:09:53.508546     33          78.0
1  2023-06-20 22:09:53.508546  2023-06-20 22:10:55.508546     40          62.0
2  2023-06-20 22:10:55.508546  2023-06-20 22:12:08.508546     12          73.0
3  2023-06-20 22:12:08.508546  2023-06-20 22:12:53.508546     -6          45.0
4  2023-06-20 22:12:53.508546  2023-06-20 22:12:55.508546     31           2.0

In [ ]:
skip_row = 1
 
# iterate through all rows of the df
for index, row in df.iterrows():
 
    if skip_row > 1:
 
        skip_row = skip_row -1
 
        continue
   
    # check if there are more then 1 measurements
    if df.loc[index, 'samples'] > 1:
       
        samples_count = df.loc[index, 'samples']
       
        df.loc[index, 'samples'] = 1
       
        skip_row = samples_count
       
        # create new rows based on the amount of the measurements
        for i in range(samples_count-1):
 
            # create new copy line
            new_line = df.loc[index+i].copy()
           
            # insert the new line after the current row
            df = pd.concat([df.iloc[:index+i], pd.DataFrame([new_line]), df.iloc[index+i:]]).reset_index(drop=True)
 
            # aktualisiere den Index der neu eingef√ºgten Zeile
            new_index = index + i + 1
           
            df.loc[new_index, 'timeseries'] = df.loc[new_index-1, 'timeseries'] + pd.Timedelta(seconds=1)